/* Typography */
.font-72 {
  font-size: 72px !important;
}

.font-60 {
  font-size: 60px !important;
}

.font-48 {
  font-size: 48px !important;
}

.font-36 {
  font-size: 36px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-21 {
  font-size: 21px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-16 {
  font-size: 15px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-11 {
  font-size: 12px !important;
}

.font-10 {
  font-size: 12px !important;
}
